<header>
	<div id="logo">GYSHIDO APP</div>
	<ul>
		<li>Home</li>
		<li>About Us</li>
		<li>Help</li>
		<li>Contact Us</li>
	</ul>
</header>

<h1>The Art of Getting Your Shit Done</h1>

<h3>Code of Honor</h3>
<ol>
	<li>Relentless focus</li>
	<li>Single task</li>
	<li>Being consistent</li>
</ol>